---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'sanitize';
@import 'vars';
@import 'rustdocs';

@charset "utf-8";

body {
    font-size: $font-base-size;
    font-weight: $font-base-weight;
    font-family: $font-base-sans-family;
}

ul {
    padding-top: 10px;
    list-style-type: none;
}

a {
    &:link {
        color: $light_grey;
    }
    &:visited {
        color: $light_grey;
    }
    &:hover {
        color: black;
    }
}

.light-font {
    color: $light_grey;
}

.box {
    height: 40px;
    width: 250px;
    padding: 5px 10px; // Top 5; Sides 10
    border-width: 1px;
    border-bottom-width: 0px; // Only last child will have a top border
    border-color: $light_grey;
    position: relative;

    &:last-of-type {
        border-bottom-width: 1px;
    }
}

// Aligns content along a horizontal line
.column {
    display: inline-block;
    height: auto;
    vertical-align: middle;

    & > * {
        vertical-align: inherit;
    }
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid black;
}

@mixin user-select($type) {
    -webkit-user-select: $type;
       -moz-user-select: $type;
        -khtml-user-select: $type;
         -o-user-select: $type;
            user-select: $type;
}

.unselectable {
    @include user-select(none);
    pointer-events: none;
}

// Box on top of input box
#input-overlay {
    position: absolute;
    display: inline;
    top: -7px; // Needed to properly align with input field
    border: none;
    text-align: left;
}

#input-wrapper {
    position: relative;
    display: inline; // Needed to properly align
}

// Wrapper consumes entire page so I can center the content.
#page-wrapper {
    height: 100%;
}

#page {
    text-align: center;
    position: relative;
    top: 30%;
}

#title {
    font-size: 36pt;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 40px;
}

#tool {
    padding-top: 40px;
}

// Utilizes rust css's button
#submit {
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: inline;
}
