<div id="nav">

  <button id="toggle-nav" class="right">

    <span class="sr-only">Toggle navigation</span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>

  </button>

</div>

<div id="toc" class="mobile-hidden">

  <ul>

    {% assign sorted_pages = site.pages | sort:"order" %}
  	{% for page in sorted_pages %}
      {% if page.type == "utility" %}

        <li>

          <a href="{{ page.url }}">{{ page.title }}</a>

        </li>

      {% endif %}
	  {% endfor %}

  </ul>

</div>
